<h2>
  {{ title }}
</h2>

<div class="queue-list">
    <div class="filters">
        <p>
            Filters
        </p>
        <input type="search" ng-model="q" placeholder="Filter queues&#8230;" />
	<select ng-model="statusFilter" ng-options="status for status in statuses">
	  <option value="">--------</option>
	</select>
    </div>
    <table>
        <thead>
            <tr>
                <th class="status">Status</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="queue in queues | filter:q | filter:statusFilter as results">
                <td class="status"><span class="status {{ queue.status }}"></span></td>
                <td>{{ queue.name }}</td>
                <td class="action"><a class="btn" href="#!/queue/{{ queue.name }}">View</a></td>
            </tr>
            <tr ng-if="results.length == 0" class="no-results">
                <td colspan="3">No queues found</td>
            </tr>
        </tbody>
    </table>
</div>
